@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #F2F2F2;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-container {
  background: white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
}